<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./parts/head") %>
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    <%- include("./parts/navbar") %>

        <!-- Content -->
        <div class=" container-md min-vh-100 bg-light shadow-lg border-start border-end border-dark-subtle">
            <div class="container-content">
                <div class="row">
                    <div class="col">
                        <h3>Armor</h3>
                        <hr class="mt-1 border-2 border-blood">
                        <p>
                            Equipment is governed by a hero's abilities rather than separate proficiency choices. Every
                            hero
                            can wield Common weapons and wear Common armor from the start of the game without
                            restriction or
                            penalty.
                            This ensures that every hero is capable of defending themselves while rewarding ability
                            score
                            investments.
                        </p>
                        <p>
                            As a hero grows stronger and more capable, additional equipment becomes available naturally.
                            More
                            demanding to bear without sacrificing mobility and control. This progression ties equipment
                            directly
                            to a
                            hero's natural strengths, allowing martial capability to grow
                            alongside the abilities that define it.
                        </p>
                        <hr class="mt-1 border-2 border-blood">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="lora-semibold">
                                        <%= armor.name %>
                                    </div>
                                    <div class="text-body-secondary">
                                        <%= armor.type %>
                                            <i class="bi bi-shield ms-1"></i>
                                    </div>
                                </div>
                                <div class="fst-italic">
                                    <%= armor.flavorText %>
                                </div>
                                <hr>
                                <div>
                                    <%= armor.ruleText %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>